* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: rgb(41, 40, 40);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

section {
  margin: auto;
  width: 50%;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(68, 66, 66);
}

.last-edited-date {
  width: 90px;
  padding: 24px;
  text-align: center;
}

.diary-middle {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 50%;
}

.diary-right {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 12px;
}

.title {
  margin-right: 12px;
}

.type-Movie {
  font-size: 20px;
  font-weight: 500;
  padding: 0px 12px 3px;
  color: rgb(143, 1, 1);
  background-color: red;
  border-radius: 24px;
}
.type-Book {
  font-size: 20px;
  font-weight: 500;
  padding: 0px 12px 3px;
  color: rgb(0, 65, 0);
  background-color: green;
  border-radius: 24px;
}
.type-Game {
  font-size: 20px;
  font-weight: 500;
  padding: 0px 12px 3px;
  color: rgb(65, 0, 65);
  background-color: purple;
  border-radius: 24px;
}
.type-TV-Show {
  font-size: 20px;
  font-weight: 500;
  padding: 0px 12px 3px;
  color: rgb(0, 0, 117);
  background-color: blue;
  border-radius: 24px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
}

.buttons button {
  background-color: rgb(41, 40, 40);
}

button:hover {
  cursor: pointer;
}

.buttons .like {
  color: white;
  margin-right: 6px;
}

.buttons .add {
  color: rgb(68, 66, 66);
  margin-left: 6px;
}

.progress-bar {
  height: 32px;
  width: 100%;
  border-radius: 24px;
  background-color: white;
  position: relative;
}

.progress-bar p.progress {
  font-weight: normal;
  font-size: 20px;
  color: rgb(41, 40, 40);
  padding: 0px 6px 1px 6px;
  position: absolute;
  top: 2px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.425);
  border-radius: 24px;
}

.entry-thumb {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 12px;
}

.entry-thumb img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

header {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-bottom: 6px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: rgb(68, 66, 66);
}

header h1 {
  color: rgb(253, 253, 253);
  margin-bottom: 12px;
}

nav {
  text-align: end;
}

nav a {
  background-color: rgba(41, 41, 41);
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  margin-right: 24px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#diary-sort-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 12px;
}

#diary-sort-options li button {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
}

#diary-topper {
  margin: 12px 0px;
}

.spacer {
  border-left: 2px solid rgb(68, 66, 66);
}
